
<div *ngFor="let product of products; let i = index">
    <div class="clr-row" *ngIf="i%3===0">
        <div class="clr-col-4">
            <div class="card">
                <!--<div class="card-header">-->
                    <!--Header-->
                <!--</div>-->
                <div class="card-block">
                    <div class="card-title">
                        {{products[i].name}}
                    </div>
                    <div class="card-text">
                        {{products[i].category}}
                        <br>
                        Price: {{products[i].price}}
                    </div>
                    <div>
                        <button type="button" (click)="addToCart(i)">Add To Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr-col-4" *ngIf="products[i+1]">
            <div class="card">
                <!--<div class="card-header">-->
                <!--Header-->
                <!--</div>-->
                <div class="card-block">
                    <div class="card-title">
                        {{products[i+1].product_name}}
                    </div>
                    <div class="card-text">
                        {{products[i+1].category}}
                        <br>
                        Price: {{products[i+1].price}}
                    </div>
                    <div>
                        <button type="button" (click)="addToCart(i+1)" >Add To Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr-col-4" *ngIf="products[i+2]">
            <div class="card">
                <!--<div class="card-header">-->
                <!--Header-->
                <!--</div>-->
                <div class="card-block">
                    <div class="card-title">
                        {{products[i+2].product_name}}
                    </div>
                    <div class="card-text">
                        {{products[i+2].category}}
                        <br>
                        Price: {{products[i+2].price}}
                    </div>
                    <div>
                        <button type="button" (click)="addToCart(i+2)">Add To Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>