
<div *ngFor="let shoe of shoes; let i = index">
    <div class="clr-row" *ngIf="i%3===0">
        <div class="clr-col-4">
            <div class="card">
                <!--<div class="card-header">-->
                    <!--Header-->
                <!--</div>-->
                <div class="card-block">
                    <div class="card-title">
                        {{shoes[i].name}}
                    </div>
                    <div class="card-text">
                        {{shoes[i].description}}
                        <br>
                        Price: {{shoes[i].price}}
                    </div>
                    <div>
                        <button type="button" (click)="addToCart(i)">Add To Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr-col-4" *ngIf="shoes[i+1]">
            <div class="card">
                <!--<div class="card-header">-->
                <!--Header-->
                <!--</div>-->
                <div class="card-block">
                    <div class="card-title">
                        {{shoes[i+1].name}}
                    </div>
                    <div class="card-text">
                        {{shoes[i+1].description}}
                        <br>
                        Price: {{shoes[i+1].price}}
                    </div>
                    <div>
                        <button type="button" (click)="addToCart(i+1)" >Add To Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr-col-4" *ngIf="shoes[i+2]">
            <div class="card">
                <!--<div class="card-header">-->
                <!--Header-->
                <!--</div>-->
                <div class="card-block">
                    <div class="card-title">
                        {{shoes[i+2].name}}
                    </div>
                    <div class="card-text">
                        {{shoes[i+2].description}}
                        <br>
                        Price: {{shoes[i+2].price}}
                    </div>
                    <div>
                        <button type="button" (click)="addToCart(i+2)">Add To Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>